.apresentacao {
    display: flex;
    justify-content: space-around;    
    border-radius: 100px;
    margin-top: 100px;
}
#div-1 {
    width: 55%;
    padding-bottom: 20px;
}
#div-2 {
    width: 50%; 
    padding-bottom: 20px;
}
.apresentacao h1 {
    padding-left: 30px;
    padding-top: 30px;
    font-family: Raleway, sans-serif;
    font-weight: 900;
    font-size: 60px;
    color: #000000;
}
.apresentacao span {
    color: #464646; 
}

.apresentacao p {
    display: flex;
    padding-left: 30px;
    font-family: Raleway, sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: #000000;
    padding-bottom: 40px;
}

.slide button {    
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    width: 250px;
    height: 50px;
    font-family: Raleway, sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #000000;
    text-decoration: none;
    margin-left: 30px;
    background-color: inherit; 
    
    
    
    border-color: #000000;
    border-radius: 60px;
    border: solid 1px;
    
     
}

.slide button:hover {
    cursor: pointer;
    
}

/*Estilo para telas de tablets*/

@media screen and (min-width: 481px) and (max-width: 890px) {
    .apresentacao {
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 80px;
        margin-bottom: 0;
    }
    .apresentacao h1 {
        font-size: 50px;
    }
    
}


 /*Estilo para telas de celulares*/

 @media screen and (max-width: 480px) {
    .apresentacao {
        margin-left: 3px;
        margin-right: 3px;
        margin-top: 70px;
    }
    .apresentacao h1 {
        font-size: 36px;
        padding-left: 10px;
    }
    .apresentacao p {
        font-size: 20px;
        padding-left: 10px;
    }
    .apresentacao {
       height: 400px;
       
    }
    #div-1 {
        width: 80%;
        
        
    }
    .slide button {
        margin-left: 20px;
  }
 }  